#
# {{ item.name }} backup of everything as user backuppc
#
$Conf{XferMethod} = 'rsync';

$Conf{BackupFilesExclude} = [
    '.DS_Store',
    '.Trash',
    '.Trashes',
    '/Trash',
    '/automount',
    '/Network',
    '/private/var/automount',
    '/private/var/run',
    '/private/var/vm',
    '/private/var/tmp',
    '/private/tmp',
    'Caches',
    'CachedMessages'
];

$Conf{RsyncClientCmd} = '$sshPath -q -x -l backuppc $host sudo $rsyncPath $argList+';

$Conf{RsyncClientRestoreCmd} = '$sshPath -q -x -l backuppc $host sudo $rsyncPath $argList+';

$Conf{ClientNameAlias} = '{{ item.ip_address }}';
